body{
    margin: 0;
} 
.Hero {
    background-image: url("Images/Hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1100px;
    object-fit:cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-flow: column;    
}

.bar{
    display: flex;
    justify-content: center;
    margin-top: 2%;
} 

.home{
    display: flex;
    height: 50%;
    width: 95%;
    flex-wrap:wrap;
    justify-content: space-between;
    
}

.menu{
    display: flex;
    width: auto;
    height: 40px;  
    padding-top: 2%;  
}

.city{
    display: flex;
    width: auto;
    height: 85px;
}

.cart{
    display: flex;
    width: auto;
    height: 48px;
    padding-top: 2%;
}
.text-over{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 17%;
    margin-bottom: 20px;

}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
   

}

.spring-content {
    /* /* width: auto; */
    height: 7px;
    /* margin: 168px 38px 18px; */
    font-family: Didot;
    font-size: 200px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: 1.3px;
    text-align: center;
    color: #fff;
  }

  .second-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .collection-here{
    /* width: auto;
    height: 10px; */
    margin-top: 0%;
    margin-left: 2%;
    /* margin: 240px 97px 9px 96px; */
    font-family: Helvetica;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;

  }
  .shop-button{
    display: flex;
    justify-content: center;
  }

  .button {   
    display: inline;  
    width: auto;
    height: 190px;
  }

  .button-img{
    width: 550px;
    height: 100px;
    margin-top: -2%;
    padding-right: 30px;
  }

  .Shop-the-collection {
    width: auto;
    margin: -13% 20% 0px 0px;
    font-family: Helvetica;
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

 
.jacket-sunglass{
    display: flex;
    justify-content: center;
    /* padding: 10px 0 0 0 ; */
    flex-direction: column;
    margin-top: -10%;
    /* flex-wrap: wrap; */
}

/* @media (min-width:600px) {
    .jacket-sunglass {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
  } */

.sunglass-content{
/*     
    margin: 384px 11px 15px 12px;
    padding: 146px 80px 19px 79px; */
    /* margin-top: -10% ;     */
    display: flex;
    justify-content: center; 
    align-items: center;
    /* position: fixed; */
    /* flex-basis: 33%; */
    
 }



 .sunglass-img{
    position: relative;
    width:100%;
    height: 650px;
    border: 6px solid white;
    
 }
.text-Sunglass{
    margin-top: 65px;
    display: flex;
    justify-content: center;
    position: absolute;
    padding-top: 10vmax;
    font-family: Helvetica;
    font-size: 70px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
.text-shop{
    display: flex;
    position: absolute;
    margin: 445px 100px 0 0;
    /* justify-content: center; */
    align-items: end;
    font-family: Helvetica;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    /* text-align: center; */
    color: #fff;
}

.jacket-shopbutton{    
    margin-top: -6%;
    width: 600px;
    height: 360px;
    /* position:absolute; */
}
 .jacket-content{
        margin-top: 2%;
        display: flex;
        justify-content: center; 
        align-items: center;    
     }

 .jacket-img{
    position: relative;
    object-fit: sc;
    width:100%;
    height: 850px;
    border: 6px solid white;
 }

 .text-shop-1{
    display: flex;
    position: absolute;
    margin: 575px 100px 0 0;
    /* justify-content: center; */
    align-items: end;
    font-family: Helvetica;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    /* text-align: center; */
    color: #fff;

 }

 .Featured-Products {
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 0%;
    font-family: Helvetica;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: start;
    color: #000;
  }


.size-margin{
    display: grid;
    grid-template-columns: 40px 1fr 40px;
}

.Products-margin{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}

.Products-margin>*{
    grid-column: 2/3;
    min-width: 0;
}

.size-margin>*{
    grid-column: 2/3;
    min-width: 0;
}

.Products{
    display: grid;
    height: 100%;
    grid-gap: 5px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2,150px);
}

#card1{
    grid-column: 1/-1;
    grid-row: 1/10;
}

#card2{
    grid-column: 1/-1;
    grid-row: 10/20;
}
#card3{
    grid-column: 1/-1;
    grid-row: 20/30;
}

.card{
    display: flex;
    flex-direction: column;
    margin-bottom: -70px;
}
.img-product{
    width: 100%;
    height: 80%;
    margin: 48px 0 11px;
}

.Bag-7000{
    /* margin: 40px 109px 55px; */
    font-family: Helvetica;
    /* padding-left: 50%; */
    font-size: 44px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}



.Bag-7000.text-style-1 {
    font-weight: normal;
  }

.footer{
    width: 97%;
    height: 100%;
    margin: 100px 0 0;
    padding: 32px 18px 44px 19px;
    background-color: #f6f6f6;
}


.contact-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.sologun{
    display: flex;
    justify-content: center;
}
.We-love-speaking-to {    
    width: 100%;
    height: 190px;  
    margin: 10px 0px 0px 0px;
    font-family: Helvetica;
    font-size: 56px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.43px;
    text-align: center;
    color: #444;
  }

.email-detail{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.email{
    display: flex;
    justify-content: center;
}

.shopifypartners {
    /* width: 114px;
    height: 17px; */
    margin: 34px 51px 22px 27px;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    text-align: center;
    color: #000;
  }

  .phone-number{
    display: flex;
    justify-content: center;
}

span {
    /* width: 104px;
    height: 17px; */
    margin: 34px 42px 22px 51px;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    text-align: center;
    color: #000;
  }

  .insta{
    display:flex;
    justify-content: center;
}

  .hellomyshopemailco {
    /* margin: 22px 90px 34px 2px; */
    margin-top: 30px;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    text-align: center;
    color: #000000;
  }

.footer-line{
    width: 100%;
    height: 1px;
    margin: 60px 9px 10px;
    border: solid 1px #ccc;
  }
.footer-menu{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 5;
    grid-gap: 80px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .about-us-grid{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    margin-top: -10px;
  }
  .Menu-1 {
    width: 100%;
    height: 22px;
    grid-row: 1/2;
    margin: 0 29px 0px 10px;
    font-family: Helvetica;
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: start;
    letter-spacing: 0.32px;
    color: #444;
  }

  .Women {
    grid-row: 2/3;
    width: 52px;
    height: 17px;
    margin: 0px 24px 0px 10px;
    font-family: Helvetica;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: start;
    letter-spacing: 0.25px;
    color: #000;
  }

  .Men {
    width: 29px;
    height: 17px;
    grid-row: 3/4;
    margin: 0px 11px 0px 10px;
    font-family: Helvetica;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #000;
  }

  .Accessories {
    grid-row: 4/5;
    width: 86px;
    height: 17px;
    margin: 0px 96px 0px 10px;
    font-family: Helvetica;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.25px;
    color: #000;
  }

.About {
    grid-row: 5/6;
    width: 42px;
    height: 17px;
    margin: 0px 34px 0px 10px;
    font-family: Helvetica;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.25px;
    color: #000;
  }

.About-Us{
    grid-row: 1/2;
    width: 100%;
    height: 22px;
    margin: 30px 2px 50px 7px;
    font-family: Helvetica;
    font-size: 55px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align:start ;
    letter-spacing: 0.32px;
    color: #444;
}

.The-Shopify-Web-Desi {
    grid-row: 2/3;
    width: 100%;
    height: auto;
    margin: 10px 11px 36px 7px;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.22px;
    color: #444;
  }

  .The-Shopify-Web-Desi-1 {
    grid-row: 3/4;
    width: 100%;
    height: auto;
    margin: 10px 11px 36px 7px;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.22px;
    color: #444;
  }
.footer{
    display: grid;
    grid-template-columns: 60px 1fr 60px;
}

.footer>*{
    grid-column: 2/3;
    min-width: 0;
}

.Line-Copy-6 {
    width: 100%;
    height: 1px;
    margin: 32px 11px 12px 7px;
    border: solid 1px #ccc;
  }

  .Powered-by-Shopify {
    width: 100%;
    height: 16px;
    margin: 30px 62px 80px 10px;
    font-family: Helvetica;
    font-size:35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: start;
    letter-spacing: 0.23px;
    color: #444;
  }

  .social-media{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:repeat(3,100px);
    grid-template-rows: 1;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .face{
    grid-column: 1/2;
    width: 55px;
    height: 55px;
    margin: 36px 21px 32px 8px;
  }

  .instagram{
    grid-column: 2/3;
    width: 55px;
    height: 55px;
    margin: 36px 21px 32px 8px;
  }

  .twitter{
    grid-column: 3/4;
    width: 55px;
    height: 55px;
    margin: 36px 21px 32px 8px;
  }



  /* RESPONSIVE */

  @media only screen and (min-width: 1024px){

    /* .Hero{
        background-size: fill;
    }
    .spring-content {
        width: 839px;
        height: 273px;
        margin: 285px 58px 46px 69px;
        padding: 230px 263px 0;
  
      } */

      /* .jacket-sunglass{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .sunglass-img{
        position: relative;
        width: auto;
        height: 324px;
        border: 6px solid white;
     }
     .jacket-img{
        position: relative;
        width: auto;
        height: 324px;
        border: 6px solid white;
     } */
     .Hero {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        object-fit:fill;
        background-position:initial;   
    }


     .jacket-sunglass{
        margin-top: -3%;
        /* flex-wrap: wrap; */
    }

    .text-over{
        margin-top: 4%;
        margin-bottom: 20px;
    
    }

    .home{
        height: 50%;
        width: 70%;
        flex-wrap:wrap;
        justify-content: space-between;
        
    }

    .menu{
        height: 4.4%;  
        padding-top: 1%;  
    }
    
    .city{
        width: auto;
        height: 4.4%;
    }
    
    .cart{
        width: auto;
        height: 1.9%;
        padding-top: 1%;
    }
     
     




    
  }